

        <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="testsuite" verbose="1" >
<listeners>
    <listener class-name="com.demo.nopcommerce.listeners.Listeners"></listener>
    <listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
    <listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
</listeners>
<test name="Login Test" >
    <classes>
        <class name="com.demo.nopcommerce.testsuite.LogInTest" />
    </classes>
</test>
<test name="Login Test1" >
    <classes>
        <class name="com.demo.nopcommerce.testsuite.LogInTest1" />
    </classes>
</test>


</suite>
